{% extends 'base.html' %}
{% block content %}
<button id="filter_button" onclick="filterCompleted()">Filter Off</button>
<button id="sort_duedate" onclick="sortTableByDueDate()">Sort Due Date</button>
<table>
    <thead>
        <tr>
            {% for col in cols %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="table_data">
        {% for task in tasks %}
        <tr>
            <td><a href="{{ url_for('edit', id=task.id) }}">{{ task.id }}</a></td>
            <td data-label="Title">{{ task.title }}</td>
            <td data-label="Desc">{{ task.description }}</td>
            <td data-label="Recurring">{{ task.get_recurring_name }}</td>
            <td data-label="Due Date">{{ task.due_date }}</td>
            {% if task.due_time is not none %}
            <td data-label="Due Time">{{ task.due_time.strftime('%H:%M') }}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td data-label="Time Cost">{{ task.time_cost }}</td>
            <td data-label="Reminder">{{ task.reminder }}</td>
            <td data-label="Completed">{{ task.completed }} </td>
            <td data-label="Created">{{ task.created.strftime('%Y-%m-%d %H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    let isFiltered = false;
    let dueDateAscending = false;
    function filterCompleted() {
        const rows = document.querySelectorAll("#table_data tr");
        isFiltered = !isFiltered;
        rows.forEach(row => {
            const completedField = row.querySelector('[data-label="Completed"]');
            row.style.display = isFiltered && (completedField.textContent.trim() === "True") ? 'none' : '';
        });
        const button = document.querySelector("#filter_button");
        button.textContent = `Filter ${isFiltered ? "Off" : "On"}`
    }
    function sortTableByDueDate() {
        const tbody = document.getElementById("table_data");
        const rows = tbody.querySelectorAll("tr");
        const rowArray = Array.from(rows);

        dueDateAscending = !dueDateAscending;

        rowArray.sort((a, b) => {
            const aText = a.querySelector('[data-label="Due Date"]').textContent.trim();
            const bText = b.querySelector('[data-label="Due Date"]').textContent.trim();

            const aDate = Date.parse(aText);
            const bDate = Date.parse(bText);

            const aNan = isNaN(aDate);
            const bNan = isNaN(bDate);

            if (!aNan && !bNan) {
                return dueDateAscending ? aDate - bDate : bDate - aDate;
            }
            else if (aNan && bNan) {
                return 0;
            }
            else if (aNan) {
                return 1;
            }
            else {
                return -1;
            }
        });

        rowArray.forEach(row => tbody.appendChild(row));
    }
</script>
{% endblock %}